.Modal {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    background: rgba(0,0,0,0.8);
    box-sizing: border-box;
    transition: all 0.3s ease-out;
}

.Close {
    height: 50px;
    color: #FFFFFF;
    font-size: 28px;
    text-align: right;
    width: 100%;
}