.ImageInfoContainer {
    width: 90%;
    position: relative;
    margin: 0 auto;
    padding: 20px;
}

.Title {
    position: relative;
    padding: 10px 0;
    font-size: 20px;
    text-align: center;
    color: #FFFFFF;
}

.ImageContainer {
    width: 100%;
    text-align: center;
}

.Image {
    width: 400px;
    height: 400px;
    margin: 10px auto;
    background-size: cover;
}

.MoreInfo {
    font-size: 16px;
    text-align: center;
    width: 90%;
    margin: 0 auto;
    color: #FFFFFF;
}